<!--

<div class="header">
  <h1>Minneapolis, Minnesota</h1>
  <h2>Last updated Date</h2>
</div>
<div class="main-body">
  <div class="supply-menu">
    <h3>Get supplies now</h3>
    <div class="recent-post">
      <p>Recent Posts</p>
      <h3>Examples:</h3>
      <ul id="example-list" class="list-group">
        {{#each examples}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="example/{{this.id}}">{{this.text}}</a>
          <button class="btn btn-danger float-right delete">ｘ</button>
        </li>
        {{/each}}
      </ul>
      <div class="post-card">
        <div class="right">
          <h5>Title</h5>
          <p>distance away</p>
        </div>
        <div class="left">
          <img class="post icon">
          <button>Get</button>
        </div>
      </div>
      <div class="post-card">
        <div class="right">
          <h5>Title</h5>
          <p>distance away</p>
        </div>
        <div class="left">
          <img class="post icon">
          <button>Get</button>
        </div>
      </div>
      <div class="post-card">
        <div class="right">
          <h5>Title</h5>
          <p>distance away</p>
        </div>
        <div class="left">
          <img class="post icon">
          <button>Get</button>
        </div>
      </div>
      <p><a href=*>View More</a></p>
    </div>
  </div>
  <div class="center-page">
    <div class="bubble">
      <h6 class="number of cases">287</h6>
      <p>cases</p>
    </div>
    <div class="case-info">
      <h3>1 death</h3>
      <h3>26 critical</h3>
    </div>
    <div class="share buttons">
      <radio class="supplies">Share Supplies</radio>
      <radio class="stories">Share Stories</radio>
    </div>
    <form class="clearfix mb-4" action="POST">
      <div class="form-group">
        <label for="example-text">Example Text</label>
        <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
          placeholder="Enter Example Text">
      </div>
      <div class="form-group">
        <label for="example-description">Example Description</label>
        <textarea class="form-control" id="example-description" aria-describedby="example-description"
          placeholder="Enter Example Description"></textarea>
      </div>
      <button id="submit" class="btn btn-primary float-right">Submit</button>
    </form>

    -->

<!-- ajax -->
<!--
    <form class="info post">
      <textarea placeholder="Type here..."></textarea>
      <button id="submit">Post!</button>
    </form>

    -->

<!--
</div>
</div>

-->






<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <!-- <h1>{{msg}}</h1> -->
        <h1>Minneapolis, Minnesota</h1>


        <div>
          <!-- api will go here -->
        </div>


        <h2>Last updated Date</h2>

        <!-- add grid system below -->

        <div class="row">
          <div class="medium-6 columns"></div>
          <div class="medium-6 columns"></div>


          <h3>Recent Posts</h3>
          <ul id="example-list" class="list-group">
            {{#each examples}}
            <li data-id="{{this.id}}" class="list-group-item">
              <a href="example/{{this.id}}">{{this.text}}</a>
              <p>{{this.description}}</p>
              <button type="button" id="modalBtn" class="btn btn-primary">
                View Info
              </button>
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>

            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <p>Some text in the Modal..</p>
              </div>

            </div>
            {{/each}}
          </ul>

          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <label for="example-text">Title of Item</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                placeholder="What do you have to give?">
            </div>
            <div class="form-group">
              <label for="example-description">Item Description</label>
              <textarea class="form-control" id="example-description" aria-describedby="example-description"
                placeholder="Describe the item in 10 words or less"></textarea>
            </div>
            <div class="form-group">
              <label for="example-name">First Name</label>
              <textarea class="form-control" id="example-name" aria-describedby="example-name"
                placeholder="Describe the item in 10 words or less"></textarea>
            </div>
            <div class="form-group">
              <label for="example-city">City</label>
              <textarea class="form-control" id="example-city" aria-describedby="example-city"
                placeholder="Describe the item in 10 words or less"></textarea>
            </div>
            <div class="form-group">
              <label for="example-state">State</label>
              <textarea class="form-control" id="example-state" aria-describedby="example-state"
                placeholder="Describe the item in 10 words or less"></textarea>
            </div>
            <div class="form-group">
              <label for="example-price">Price</label>
              <textarea class="form-control" id="example-price" aria-describedby="example-price"
                placeholder="Describe the item in 10 words or less"></textarea>
            </div>
            <button id="submit" class="btn btn-primary float-right">Post!</button>
          </form>

        </div>
      </div>
    </div>
  </div>



  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/api.js"></script>
  <script src="/js/bundle.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/app.js.map"></script>